<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688987999236-lf9klb0h8hsp8ankd4jnqslfh7lnnoa7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688987999236-lf9klb0h8hsp8ankd4jnqslfh7lnnoa7</string>
	<key>API_KEY</key>
	<string>AIzaSyAMiZU4NsK2nnN_36EGqMxm4oLRq7cxmjU</string>
	<key>GCM_SENDER_ID</key>
	<string>688987999236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testOne1</string>
	<key>PROJECT_ID</key>
	<string>testone-abe3e</string>
	<key>STORAGE_BUCKET</key>
	<string>testone-abe3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688987999236:ios:5edd528e86f5dff1ceb951</string>
</dict>
</plist>